@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #eeeff3;
}




/* ========== NAVBAR SECTION STARTS FROM HERE ============= */

#navbar{
  width: 95%;
  height: 80px;
  background-color: #060d1f;
  justify-self: center;
  margin-top: 20px;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}


.navbar1{
  display: flex;
  gap: 20px;
  align-items: center;
}

.navimage{
  width: 40px;
  height: 40px;
}

.taste{
  color: #f1f1f4;
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 200;
}


#navbar ul{
  display: flex;
  gap: 50px;
  list-style-type: none;
}

#navbar ul>li{
  color: #797c8b;
  font-family: 'BBH Sans Hegarty', sans-serif;
  font-weight: 100;
  cursor: pointer;
}

#navbar ul>li:hover{
  color: #f1f1f4;
  transition: all 400ms linear;
}


.nav-button{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #fa823f;
  color: #f1f1f4;
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 100;
  border-radius: 12px;
  cursor: pointer;
}


.menu-img{
  display: none;
  width: 40px;
  height: 40px;
}


/* =================  Resposnive The Navbar ================= */

@media (max-width: 986px){
  .taste{
    font-size: 16px;
  }
  #navbar ul>li{
    font-size: 12px;
  }
}



@media (max-width: 860px){
  .navbar1{
    gap: 10px;
  }
  .navbar1>img{
    width: 30px;
    height: 30px;
  }
  #navbar ul{
    gap: 30px;
  }
  #navbar .nav-button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 12px;
  }
}



@media (max-width: 768px){
  #navbar ul{
    display: none;
  }
  #navbar .nav-button{
    display: none;
  }
  #navbar .menu-img{
    display: block;
    cursor: pointer;
  }
}


/* ========= HERO SECTION START HERE ========= */
#Hero{
  width: 95%;
  height: 950px;
  background-color: #060d1f;
  justify-self: center;
  border-radius: 40px;
  position: relative;
}


.svgb{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}


.hero1{
  width: 100%;
  height: 70%;
  background-color: #0d43cd;
  position: absolute;
  z-index: 20;
  top: 0;
  display: flex;
}

.hero2{
  width: 100%;
  height: 30%;
  background-color: #797c8b;
  position: absolute;
  z-index: 20;
  bottom: 0;
}

.hero1a{
  width: 50%;
  height: 100%;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.hero1b{
  width: 50%;
  height: 100%;
  background-color: yellow;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.slice{
  width: 150px;
  height: 45px;
  border-radius: 22px;
  background: url('./assets/pic1.jpeg');
  background-position: center;
  background-size: cover;
}


.passion{
  color: #f1f1f4;
  font-family: sans-serif;
  font-weight: 200;
  word-spacing: 5px;
}

.flex{
  display: flex;
  gap: 20px;
  align-items: center;
}



.video1{
  width: 40px;
  height: 40px;
  background-color: #1d2a46;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button{
  width: 15px;
  height: 15px;
}

.div1 h1{
  font-size: 4vw;
  color: #f1f1f4;
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 200;
}


.div2 .started{
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 35px;
  padding-left: 35px;
  background-color: #fa823f;
  color: #f1f1f4;
  font-family: "BBH Sans Hengarty", sans-serif;
  border-radius: 22px;
  border: none;
  font-weight: 200;
  font-size: 16px;
  cursor: pointer;
}

.div2{
  display: flex;
  gap: 50px;
  align-items: center;
}


.videos{
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.demo{
  color: #f1f1f4;
  font-size: 16px;
}


.div3{
  display: flex;
  gap: 70px;
  font-size: 22px;
  color: #f1f1f4;
  font-family: "BBH Sans Hengarty", sans-serif;
}

.success{
  color: #e08b52;
}

.div3a, .div3b, .div3c{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 200;
}


.hero-image{
  width: 80%;
  height: 90%;
  background-color: #0d43cd;
  border-top-left-radius: 170px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  position: relative;
}

.photo-2{
  width: 100%;
  height: 100%;
  border-top-left-radius: 170px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  position: absolute;
  z-index: 100;
}


.container{
  width: 220px;
  height: 60px;
  background-color: #121734;
  position: absolute;
  z-index: 110;
  border-radius: 16px;
  left: -100px;
  bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.img-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: -20px;
}
.persons{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}


.reviews{
  color: #f1f1f4;
  font-family: "BBH Sans Hengarty", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.container2{
  background-color: #121734;
  width: 260px;
  height: 260px;
  position: absolute;
  right: -20px;
  z-index: 110;
  bottom: -30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.video-container{
  width: 90%;
  height: 120px;
  background-color: red;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.parental{
  width: 30px;
  height: 30px;
}
.famil{
  color: #fa823f;
  font-family: "BBH Sans Hengarty", sans-serif;
  font-size: 16px;
}

.heart{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #222237;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hearto{
  width: 20px;
  height: 20px;
}


.family-dev{
  display: flex;
  gap: 10px;
  align-items: center;
}

.family{
  display: flex;
  justify-content: center;
  gap: 100px;
}


.family-text{
  color: #f1f1f4;
  font-family: "BBH Sans Hengarty", sans-serif;
  font-size: 16px;
  margin-left: -30px;
}


.video-container video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}